@model IEnumerable<RhysTechTest.People>
@{
	ViewBag.Title = "Home Page";
}
<section ng-view>

</section>
<style>
	.red {
		color: red;
	}

	.green {
		color: green;
	}

	#editForm {
		display: flex;
		flex-direction: column;
	}
</style>
